In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler #normalização dos dados
from sklearn.preprocessing import StandardScaler #padronização dos dados
from sklearn.preprocessing import OrdinalEncoder #ordinal encoding
from sklearn.preprocessing import OneHotEncoder #one hot encoding e dummy encoding

In [4]:
url_dados: str = "https://raw.githubusercontent.com/profkalinowski/livroescd/main/iris.data"

label_atributos = ['comprimento_sepala', 'largura_sepala', 'comprimento_petala', 'largura_petala', 'especie']
iris = pd.read_csv( url_dados, names=label_atributos)
iris.head()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [5]:
dados = {
    'largura_sepala': [4.0,],
    'comprimento_sepala': [5.0,],
    'largura_petala': [0.4,],
    'comprimento_petala': [1.0,],
    'especie': ["Iris-setosa",],
}

df_novo = pd.DataFrame(dados)

df = pd.concat([iris, df_novo])

In [6]:
print(iris.shape)
print(df_novo.shape)
print(df.shape)

(150, 5)
(1, 5)
(151, 5)

In [7]:
df = df.dropna(how='any')

In [13]:
# remover dados faltosos (qualquer elemento)
df.dropna(how='any', inplace=True)

# criando dicionário com as correções necessários
values = {
    'comprimento_sepala' : iris ['comprimento_sepala'].median(), 
    'largura_sepala' : iris ['largura_sepala'].mean(),
    'comprimento_petala' : iris ['comprimento_petala'].mean(),
    'largura_petala' : iris ['largura_petala'].mean(),
    'especie' : 'Iris-setosa'
}

# substituir os dados faltosos pelas transformações do dicionário
df.fillna(value=values, inplace=True)

In [14]:
df.tail()

,comprimento_sepala,largura_sepala,comprimento_petala,largura_petala,especie
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica
0,5.0,4.0,1.0,0.4,Iris-setosa

In [15]:
data = np.asarray([
    [100, 0.001],
    [8, 0.05],
    [50, 0.005],
    [88, 0.07],
    [4, 0.1]
    ])

type(data)

numpy.ndarray

In [ ]:
#normalização

#definindo o transformador com min max scaler
scaler = MinMaxScaler()

#Transformando os dados
scaler - scaler.fit_transform(data)